<div class="project-details">
    <div>
         <button mat-button [routerLink]="['']" style="color: red;">Back to Project</button>
    </div>
  <div>
     <span>Project Name: {{ projectId }}</span>
  </div>
   

    <div >
    <button mat-button style="color: white;" (click)="selectFolder()">Select Local Folder</button>
    <span> : {{ folderPath }}</span>
    </div>

<div class="toggle-button-row">
  <mat-slide-toggle color="primary">
    <span style="color: white;">Auto Upload</span>
  </mat-slide-toggle>

  <button mat-icon-button aria-label="Sync" class="sync-button" matTooltip="Sync Data" style="color: green;">
    <mat-icon >sync</mat-icon>
  </button>
</div>





<div class="gallery-grid">
  <mat-card *ngFor="let image of projectImages; let i = index" class="gallery-item">
    <button class="delete-button" (click)="deleteImage(i)">
      <mat-icon>delete</mat-icon>
    </button>
    <img mat-card-image [src]="image" alt="Project Image">
  </mat-card>
</div>

</div>